/* .main-app{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(90deg, rgb(9, 34, 68) 0%, rgb(83, 120, 149) 100%);
  
    
}


.auth-container{
    background:  #041a2f;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    position: absolute;
    top: 10%;
    left: 25%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: #fff;
}
label{
    text-align: left;
    padding: 0.25rem 0;
}

input{
    margin: 0.5rem 0;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}
.send-btn{
    border:none;
    background-color: #2d3748;
    padding: 10px;
    width:20rem;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    font-size:0.9rem;

}
.link-btn{
    padding:1.5rem;
    border:none;
    background: none;
    color:white;
    text-decoration: underline;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.close {
    cursor: pointer;
    float: right;
  } */